{{#with view}}

{{#view Yn.HeaderView class="with-small-shadow"}}

	{{view Yn.BackButtonView }}
	<div class="brand-container is-small"></div>

{{/view}}

{{#view Yn.ScrollerView class="screen-container"
	exclude=".header" }}

	<div class="space by-two"></div>

  {{view Yn.VenueBoxView 
    productBinding="selected.product"
    isConsumedBinding="selected.consumed"
    isConsumedDateBinding="selected.dateConsumed"
    hasDescription=true
    brandBinding="venue.brand"
    venueBinding="venue" }}


	<div class="space by-two"></div>

	<div class="box">

    {{#if selected.consumed}}

      <div class="box-title-top detail-text text is-right">
        {{I18n exchanged_invitation}}
        {{humanize dateBinding="selected.dateConsumed" }}
        <span class="icon with-text is-icon-small" icon="w"></span>
      </div>

    {{else}}

      <div class="box-title-top">
        {{I18n consignee}}
      </div>

    {{/if}}

		<div class="box-content">

			{{#if selected.toUser }}

				{{view Yn.UserShortBlockView
          imagetype="is-x-big"
					contentBinding="selected.toUser" }}

			{{else}}

        {{view Yn.UnregisteredUserShortBlockView
          imagetype="is-x-big"
          invitationBinding="selected" }}

			{{/if}}

		</div>

	</div>
  

  {{#unless selected.consumed}}

    {{view Yn.MainButtonView class="is-green"
        contentI18n="confirm"
        action="confirm" }}

  {{/unless}}


{{/view}}

{{/with}}
