{{#with view}}

{{#view Yn.HeaderView class="with-small-shadow"}}

	{{view Yn.BackButtonView }}
	<div class="brand-container is-small"></div>

{{/view}}

{{#view Yn.ScrollerView class="screen-container"
	exclude=".header" }}

	<div class="space by-two"></div>

  {{view Yn.VenueBoxView 
    productsBinding="products"
    hasDescription=true
    brandBinding="venue.brand"
    venueBinding="venue" }}


	{{#if otherInvitations}}

		<div class="space by-two"></div>


		<div class="box">

			<div class="box-title-top">

				{{I18n other_products}}

			</div>

      <div class="box-content has-li">

				{{#each otherInvitations}}

          <div class="box-content-li has-tap">

            {{#view Yn.BtapView class="box-content-element two-column-table" 
              action="changeInvitation" actionContentBinding="this" }}

              <div class="main main-text left-column">
                {{product.name}}
              </div>

              <div class="right-column">
                {{view Yn.PriceLabelView
                  productBinding="product"}}   
              </div>

            {{/view}}
					

          </div>

				{{/each}}

			</div>

		</div>

	{{/if}}


	<div class="space by-two"></div>


	<div class="box">

		<div class="box-title-top">

			{{I18n invited_by}}

		</div>

		<div class="box-content">

      {{view Yn.UserShortBlockView
        imagetype="is-big"
        contentBinding="selected.fromUser" }}

		</div>

		<div class="box-title-bottom">
								
			<div class="bottom-detail is-right">
			
				<span class="icon with-text is-icon-small" icon="w"></span>
				{{humanize dateBinding="selected.created" }}
			
			</div>

		</div>

	</div>


	<div class="space by-two"></div>


	<div class="box">

		<div class="box-title-top">

			{{I18n consignee}}

		</div>

		<div class="box-content">

			{{#if selected.toUser }}

				{{view Yn.UserShortBlockView
          imagetype="is-big"
					contentBinding="selected.toUser" }}

			{{else}}

				{{#if selected.creationFbId }}

					{{view Yn.UserShortBlockView
            imagetype="is-big"
						typeBinding="selected.creationType"
						fbIdBinding="selected.creationFbId"
						fbNameBinding="selected.creationUsername" }}

				{{else}}

        {{view Yn.UserShortBlockView
            imagetype="is-big"
						typeBinding="selected.creationType"
						phoneNumberBinding="selected.creationPhone"
						phoneNameBinding="selected.creationPhone" }}

				{{/if}}

			{{/if}}

		</div>

	</div>


	{{view Yn.MainButtonView class="is-green"
			contentI18n="confirm"
			action="confirm" }}



	<div class="box">

		<div class="box-title-top">

			{{I18n something_else_title}}

		</div>

		<div class="box-content has-padding">

			{{view Yn.InputView id="login-email" class="single-input" 
					inputName="something-else"
					placeholderI18n="something_else_placeholder" }} 

		</div>

	</div>

	<div class="space by-two"></div>

{{/view}}

{{/with}}
