{{#with view}}

{{#view Yn.HeaderView class="with-small-shadow"}}

  {{view Yn.MenuButtonView }}
	<div class="brand-container is-small"></div>

  {{view Yn.IconBtapView class="header-button rectangle-button l-right is-orange button-text is-small" 
    icon="e"
    action="refresh"}}

{{/view}}

<div class="screen-container">

  {{view Yn.MenuTabsButtonView id="invitations-menu-tabs" 
    contentBinding="_options"
    selectedBinding="option" }}


  {{#if isPending }}
    {{view Yvi.InvitationsContentView
      invitationsBinding="pendingInvitations"
      exclude=".header, #invitations-menu-tabs" }}
  {{else}}
    {{view Yvi.InvitationsContentView
      invitationsBinding="consumedInvitations"
      exclude=".header, #invitations-menu-tabs" }}
  {{/if}}


</div>

{{/with}}
