{{#with view}}

  <div class="row one">
  </div>

  <div class="row two">
    <div id="login-brand-container" class="brand-container"></div>
  </div>

  <div class="row three">

    {{#if venueUser }}

      <div class="login-box is-logged">


        {{view Yn.SingleLargeButtonView class="is-orange is-font-white" 
          contentI18n="enter" 
          action="goToScan" }}

        
        {{view Yn.SingleLargeButtonView class="is-black is-font-white" 
          contentI18n="logout" 
          action="logout" }}	


        <div class="space by-two"></div>


        {{#if showCameraDeviceButton}}
          {{#view Yn.BtapView class="rectangle-button-adaptative register-button is-orange button-text is-small is-font-white" 
            action="changeCamera" }}

            {{#if isDeviceFront }}
              {{I18n camera_front}}
            {{else}}
              {{I18n camera_back}}
            {{/if}}

          {{/view}}
        {{/if}}
          

      </div>		

    {{ else }}

      <div class="login-box is-unlogged">

        <div class="big-input-content">

          {{view Yn.InputView id="username" class="big-input up" 
            inputName="username"
            type="username"
            placeholderI18n="username" }} 

          {{view Yn.InputView id="password" class="big-input down" 
            inputName="password"
            type="password"
            placeholderI18n="password" }} 

        </div>


        {{view Yn.SingleLargeButtonView class="is-grey is-font-black" 
          contentI18n="login"
          inputs="username password" 
          action="login" }}


      </div>		

    {{/if}}

  </div>		

{{/with}}
