{{#with view}}

<div id="login-brand-container" class="brand-container"></div>

<div class="space by-seven"></div>

	{{#if venueUser }}

		<div class="logged-box">

		<div class="auth-buttons">

			{{view Yn.SingleBigButtonView class="auth-button is-orange button-text is-big is-font-white" 
				contentI18n="enter" 
				action="goToScan" }}

			
			{{view Yn.SingleBigButtonView class="auth-button is-black button-text is-big is-font-white" 
				contentI18n="logout" 
				action="logout" }}	

			
		</div>

		</div>		

	{{ else }}

		<div class="unlogged-box">

			<div class="big-input-content">

				{{view Yn.InputView id="username" class="big-input up" 
					inputName="username"
					type="username"
					placeholderI18n="username" }} 

				{{view Yn.InputView id="password" class="big-input down" 
					inputName="password"
					type="password"
					placeholderI18n="password" }} 

			</div>

			<div class="auth-buttons">

				{{view Yn.SingleBigButtonView class="auth-button is-grey button-text is-big is-font-black" 
					contentI18n="login"
					inputs="username password" 
					mixins="Yn.FormActionContent" 
					action="login" }}


				

			</div>

		</div>		

	{{/if}}

{{/with}}
