{{#with view}}
<div id="brand-container"></div>

<div class="space by-three"></div>



<div class="space by-two"></div>

	{{#if venueUser }}

		<div class="logged-box">

		<div class="auth-buttons">

			{{view Yn.SingleBigButtonView class="auth-button is-orange button-text is-big is-font-white" 
				contentI18n="enter" 
				action="goToScan" }}

			
			{{view Yn.SingleBigButtonView class="auth-button is-black button-text is-big is-font-white" 
				contentI18n="logout" 
				action="logout" }}	

			
		</div>

		</div>		

	{{ else }}

		<div class="unlogged-box">

			<div class="big-input-content">

				{{view Yn.InputView id="login-email" class="big-input up" 
					inputName="email"
					type="email"
					placeholderI18n="email" }} 

				{{view Yn.InputView id="login-password" class="big-input down" 
					inputName="password"
					type="password"
					placeholderI18n="password" }} 

			</div>

			<div class="auth-buttons">

				{{view Yn.SingleBigButtonView class="auth-button is-grey button-text is-big is-font-black" 
					contentI18n="login" 
					action="goToScan" }}

				<div class="auth-button-logout about-us text is-big is-font-orange">{{I18n about_us}}</div>

			</div>

		</div>		

	{{/if}}

{{/with}}
