
{{#with view}}

{{#view Yn.HeaderView class="with-small-shadow"}}

	{{view Yn.BackButtonView }}
  <div class="header-title">
    {{I18n password_title}}
  </div>

{{/view}}

<div class="screen-container">

  <div class="row">

      <div class="big-input-content is-grey-background">

        {{view Yn.InputView id="current-password" class="big-input up" 
          inputName="current-password"
          type="password"
          placeholderI18n="current_password" }} 

        {{view Yn.InputView id="new-password" class="big-input" 
          inputName="new-password"
          type="password"
          placeholderI18n="new_password" }} 

        {{view Yn.InputView id="confirm-password" class="big-input down" 
          inputName="confirm-password"
          type="password"
          placeholderI18n="confirm_password" }} 

      </div>

      {{view Yn.SingleLargeButtonView class="is-blue is-font-white" 
        contentI18n="password_title"
        inputs="current-password new-password confirm-password" 
        action="change" }}

  </div>

</div>

{{/with}}
