
{{#with view}}

{{#view Yn.HeaderView class="with-small-shadow"}}

	{{view Yn.BackButtonView }}
	<div class="brand-container is-small"></div>

{{/view}}

<div class="screen-container">

  <div class="row">

      <div class="big-input-content is-grey-background">

        {{view Yn.InputView id="current_password" class="big-input up" 
          inputName="current_password"
          type="password"
          placeholderI18n="current_password" }} 

        {{view Yn.InputView id="new_password" class="big-input" 
          inputName="new_password"
          type="password"
          placeholderI18n="new_password" }} 

        {{view Yn.InputView id="confirm_password" class="big-input down" 
          inputName="confirm_password"
          type="password"
          placeholderI18n="confirm_password" }} 

      </div>

      {{view Yn.SingleLargeButtonView class="is-blue is-font-white"
        contentI18n="password_title"
        inputs="current_password new_password confirm_password" 
        action="change" }}

  </div>

</div>

{{/with}}
