{{#with view}}

{{#view Yn.HeaderView class="with-small-shadow"}}

  {{view Yn.MenuButtonView }}
	<div class="brand-container is-small"></div>

  {{view Yn.IconBtapView class="header-button rectangle-button l-right is-orange button-text is-small" 
    icon="e"
    action="refresh"}}

{{/view}}

<div class="screen-container">

  {{#if productUnits.isLoaded }}

    {{#if productUnits.length }}

      <div class="space by-one"></div>

      {{#each productUnits}}

        <div class="box">

          <div class="box-content">

            <div class="box-content-element two-column-table">

              <div class="picture left-column">

                {{view Yn.SquareImageView class="is-normal" 
                  contentBinding="product" 
                  withPhoto=true }}

              </div>

              <div class="name middle-column main">

                <div class="main-text">
                  {{product.name}}
                </div>

                <div class="detail-text">
                  {{localizer}}
                </div>

                <div class="detail-text">
                  <span class="icon with-text is-icon-small" icon="w"></span>
                  {{humanize dateBinding="created" }}
                </div>

              </div>

            </div>

          </div>

        </div>

        <div class="space by-one"></div>

      {{/each}}

      <div class="space by-one"></div>

    {{else}}
      <div class="empty-view is-absolute"></div>
      <div class="empty-text is-absolute">{{I18n empty_invitations}}</div>
    {{/if}}

  {{else}}
    {{view Yn.SpinnerView}}
  {{/if}}



</div>

{{/with}}
