{{#with view}}

{{#view Yn.HeaderView class="with-small-shadow"}}

	{{view Yn.BackButtonView }}
  <div class="header-title">
    {{I18n promo_title}}
  </div>

  {{#view Yn.AdaptativeButtonView class="header-button l-right is-blue button-text is-small is-font-white" 
    action="save"}}
    {{#if isNewElement }}
      {{I18n create}}
    {{else}}
      {{I18n save}}
    {{/if}}
  {{/view}}

{{/view}}

{{#view Yn.ScrollerView class="screen-container"
	exclude=".header" }}
  {{#unless isExecuting }}


  {{else}}

    {{view Yn.SpinnerView}}

  {{/unless}}
{{/view}}

{{/with}}
