{{#with view}}

{{#view Yn.HeaderView id="scan-header" class="with-small-shadow" }}

  {{view Yn.MenuButtonView }}
	<div class="brand-container is-small"></div>

{{/view}}


{{#view Yn.ScrollerView class="screen-container"
	exclude=".header" }}

  {{#if isExecutingAction}} 
    {{view Yn.SpinnerView contentI18n="checkin_gifts"}}
  {{/if}}

  <div class="space by-two"></div>

	<div class="box">

		<div class="box-title-top">

			{{I18n scan_title}}

		</div>

		<div class="box-content">

      {{#view Yn.BtapView id="scan-box-content"
          action="scan" }}
          <div id="scan-box-content-image"></div>
      {{/view}}

      {{view Yn.MainButtonView class="single-space is-blue"
          contentI18n="scan"
          action="scan" }}

		</div>

	</div>

  <div class="space by-two"></div>
  <div class="separator-line"></div>
  <div class="space by-one"></div>

  <div class="main-text text is-center">
    {{I18n ask_manual_code}} 
  </div>

  <div class="space by-one"></div>

  <div class="box is-half">
    {{view Yvi.ScanInputView id="invitation-code" class="single-input"
      inputName="invitation-code"
      placeholderI18n="invitation_code_placeholder" }} 
  </div>

  {{view Yn.MainButtonView class="single-space is-blue"
      contentI18n="submit"
      action="insertCode" }}

{{/view}}

{{/with}}
