{{#with view}}

{{#view Yn.HeaderView id="scan-header" class="with-small-shadow" }}

  {{view Yn.MenuButtonView }}
	<div class="brand-container is-small"></div>

{{/view}}


{{#view Yn.ScrollerView class="screen-container"
	exclude=".header" }}

	<div class="space by-two"></div>

	<div class="box">

		<div class="box-title-top">

			{{I18n scan_title}}

		</div>

		<div class="box-content">

      {{#view Yn.BtapView id="scan-box-content"
          action="scan" }}
          <div id="scan-box-content-image"></div>
      {{/view}}

			<div class="detail-text">

				{{I18n scan_help}}

			</div>

		</div>

	</div>

	{{view Yn.MainButtonView class="is-blue"
			contentI18n="scan"
			action="scan" }}

  <div class="box">
    <div class="box-content">
      <div class="box-content-element two-column-table">
        <div class="main-text left-column main">
          {{view Yn.InputView id="invitation-code" class="single-input"
            inputName="invitation-code"
            placeholderI18n="invitation_code_placeholder" }} 
        </div>
        <div class="control right-column">
          {{view Yn.AdaptativeButtonView class="is-blue button-text is-small is-font-white"
            contentI18n="search"
            action="insertCode"}}
        </div>
      </div>
    </div>
  </div>

	<div class="space by-one"></div>


{{/view}}

{{/with}}
