
{{#with view}}

{{#view Yn.HeaderView class="with-small-shadow"}}

  {{view Yn.MenuButtonView }}
  <div class="header-title">
    {{I18n settings_title}}
  </div>

{{/view}}

{{#view Yn.ScrollerView class="screen-container"
	exclude=".header" }}

    {{#if showCameraDeviceButton}}
      {{#view Yn.BtapView class="rectangle-button-adaptative is-orange button-text is-small is-font-white is-middle" 
        action="changeCamera" }}

        {{#if isDeviceFront }}
          {{I18n camera_front}}
        {{else}}
          {{I18n camera_back}}
        {{/if}}

      {{/view}}

    {{/if}}

    {{view Yn.MainButtonView class="is-red"
        contentI18n="close_session"
        action="logout" }}

{{/view}}

{{/with}}
