
{{#with view}}

{{#view Yn.HeaderView class="with-small-shadow"}}

  {{view Yn.MenuButtonView }}
  <div class="header-title">
    {{I18n settings_title}}
  </div>

{{/view}}

{{#view Yn.ScrollerView class="screen-container"
	exclude=".header" }}

    <div class="space by-three"></div>

    <div class="box-frame">

      <div class="box is-left">
        <div class="box-content">
          <div class="box-content-element one-column-table">
            <div class="name middle-column main">
              <div class="main-text">
                {{I18n dashboard_product_units}} ({{productUnitsLength}})
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="box is-right">
        <div class="box-content">
          <div class="box-content-element one-column-table">
            <div class="name middle-column main">
              <div class="main-text">
                {{I18n dashboard_pending_invitations}} ({{pendingInvitationLength}})
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="box is-left">
        <div class="box-content">
          <div class="box-content-element one-column-table">
            <div class="name middle-column main">
              <div class="main-text">
                {{I18n dashboard_consumed_invitations}} ({{consumedInvitationLength}})
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>

    <div class="space by-one"></div>

    <div class="box">
      {{#view Yn.BtapView class="box-content has-tap"
        action="goToPassword" }} 

        <div class="box-content-element two-column-table">

          <div class="left-column main main-text">
              {{I18n password_title}}
          </div>

          <div class="control right-column">
            <span class="icon is-icon-normal is-icon-grey with-text arrow"></span>
          </div>
        </div>

      {{/view}}
    </div>


    <div class="space by-one"></div>

    {{#if showCameraDeviceButton}}

      <div class="space by-one"></div>

      <div class="box">

        <div class="box-content">

          <div class="box-content-element two-column-table">

            <div class="main-text main left-column">
              {{I18n camera_device}}
            </div>

            <div class="control right-column">
              {{#view Yn.BtapView class="rectangle-button-adaptative is-grey button-text is-small is-font-black is-middle" 
                action="changeCamera" }}

                {{#if isDeviceFront }}
                  {{I18n camera_front}}
                {{else}}
                  {{I18n camera_back}}
                {{/if}}

              {{/view}}
            </div>

          </div>

        </div>

      </div>


    {{/if}}


    <div class="space by-one"></div>

    <div class="box">

      <div class="box-content">

        <div class="box-content-element two-column-table">

          <div class="main-text main left-column">
            {{I18n environment}}
            {{#if isSandbox }}
              ({{I18n sandbox_env}})
            {{else}}
              ({{I18n live_env}})
            {{/if}}
          </div>

          <div class="control right-column">
            {{#view Yn.BtapView class="rectangle-button-adaptative is-blue button-text is-small is-font-white is-middle" 
              action="changeEnvironment" }}

              {{#if isSandbox }}
                {{I18n move_to_live}}
              {{else}}
                {{I18n move_to_sandbox}}
              {{/if}}

            {{/view}}
          </div>

        </div>

      </div>

    </div>

    {{view Yn.MainButtonView class="is-red"
        contentI18n="close_session"
        action="logout" }}

    {{#if hasPendingAction}}

      {{view Yn.IconBtapView class="button-pending-action rectangle-button is-grey is-small is-font-black" 
        icon="l"
        action="goToPendingActions"}}

    {{/if}}




{{/view}}

{{/with}}
